{{define "music"}}
{{template "Index"}}
<div class="ui container" style="margin-top: 1em; ">
    <div class="ui two grid container centered segment" style="border-radius: 0px;">

        <iframe style="border: 0; width: 350px; height: 588px;" src="http://bandcamp.com/EmbeddedPlayer/album=2376795089/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://allthewine.bandcamp.com/album/heavy-lights">Heavy Lights by All the Wine</a></iframe>
        <div style="margin: 0 2em 0 2em"></div>

        <iframe style="border: 0; width: 350px; height: 588px;" src="http://bandcamp.com/EmbeddedPlayer/album=3822489606/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://allthewine.bandcamp.com/album/summer-parade">Summer Parade by All the Wine</a></iframe>

    </div>
</div>
{{end}}