{{define "shows"}}
{{template "Index"}}
<div class="ui container segment" style="border-radius: 0px;">
    <table id="showsTable" class="ui table">
        <thead>
        <tr><th colspan="3">Upcoming Shows!</th></tr>
        </thead>

        <tbody>
        <tr>
            <td>Apr. 13</td>
            <td>Melody Inn 8PM <br/> Indianapolis, IN</td>
            <td><a target="_blank" href="https://www.facebook.com/events/962647603848563/"><div class="ui big button">INFO</div></a><i class="ticket icon big"></i></td>
        </tr>
        <tr>
            <td>Apr. 14</td>
            <td>Mag Bar 8PM <br/> Indianapolis, IN</td>
            <td><a target="_blank" href="https://www.facebook.com/events/184359315266317/"><div class="ui big button">INFO</div></a><i class="ticket icon big"></i></td>
        </tr>
        <tr>
            <td>Apr. 15</td>
            <td> Springwater Supper Club 8PM <br/> Nashville, TN</td>
            <td><a target="_blank" href="https://www.facebook.com/events/1540064109656504/"><div class="ui big button">INFO</div></a><i class="ticket icon big"></i></td>
        </tr>
        </tbody>
    </table>
</div>
{{end}}