{{define "video"}}
{{template "Index"}}
<div class="ui container segment" style="margin-top: 1em; border-radius: 0px;">
    <div class="ui container center aligned">
        <iframe  width="90%" height="515"
                 src="https://www.youtube.com/embed/LM3fiVjDiJM">
        </iframe>
    </div>

    <br/>
    <br/>

    <div class="ui container center aligned">
        <iframe width="90%" height="515"
                src="https://www.youtube.com/embed/PP_utSGjjgs">
        </iframe>
    </div>

    <br/>
    <br/>

    <div class="ui container center aligned">
        <iframe width="90%" height="515"
                src="https://www.youtube.com/embed/M-tZx4v4_Gs">
        </iframe>
    </div>

    <br/>
    <br/>

    <div class="ui container center aligned">
        <iframe width="90%" height="515"
                src="https://www.youtube.com/embed/MPW_JgIbBpM">
        </iframe>
    </div>
</div>
{{end}}