{{define "Index"}}
<html>

<head>
	<title>Dagobah</title>
	<link rel="shortcut.icon" href="/static/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" 
    href="/static/stylesheets/style.css"/>
	<link rel="stylesheet" type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
	<script src="https://code.jquery.com/jquery-2.2.0.js"></script>

	<meta name="viewport" content="width=device-width initial-scale=1 maximux-scale=1">
</head>

<body>
	<div id="marginWrapper" style="margin: 0 3.5em 0 3.5em">
	   <div id = "header" class ="ui header"><a href="/"/>DAGOBAH </a></div>
	
            <div id="navbar" class="ui compact menu item seven inverted stackable">
            	<a class="item" href="/">home</a>
            	<a class="item" href="music">music</a>
            	<a class="item" href="video">video</a>
                <a class="item" href="bio">bio</a>              
                <a class="item" href="contact">contact</a>
            </div>

            <div id="homeCTA" class="ui two colum left aligned grid">
            
                
            
                <div class="colum" >
                	<div id="socialIcons" style="border-style:solid;">
                		 <a target="_blank" href="https://www.instagram.com/jedinewsuk/"><i class="instagram square icon huge"></i></a>
                            <a target="_blank" href="https://www.facebook.com/templeofthejediorder/"><i class="facebook square icon huge"></i></a>
                            <a target="_blank" href="https://twitter.com/jedi_alliance"><i class="twitter icon huge"></i></a>
                            <a target="_blank" href="https://www.youtube.com/user/jedi14952"><i class="youtube square icon huge"></i></a>
                            
                    </div>
                </div>
            </div>
    </div>

            

<script src="/static/js/responsiveslides.min.js"></script>

<script src="/static/js/scripts.js"></script>

</body>
</html>
  {{end}}
