{{define "music"}}
{{template "Index"}}
<div class="ui container" style="margin-top: 1em; ">
    <div class="ui two grid container centered segment" style="border-radius: 0px;">

      <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=996010740/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://goodthrob.bandcamp.com/album/s-t">S/T by Good Throb</a></iframe>
        <div style="margin: 0 2em 0 2em"></div>

       <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=4140204041/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://rizmc.bandcamp.com/album/englistan">ENGLISTAN by Riz MC</a></iframe>

    </div>
</div>

		<div  id ="footerContainer" class=container-fluid style="background-color:#000000;">
		<footer class="container-fluid text-center">

		  
		  <p style = "text-align: center; margin-top: 25px; font-size: 2em; color:white;" >DAGOBAH Made By 
		  <a href="#" title="Visit agits home page">www.agits.com</a></p>
		</footer>
		</div>
{{end}}