{{define "video"}}
{{template "Index"}}
<div class="ui container segment" style="margin-top: 1em; border-radius: 0px;">
    <div class="ui container center aligned">
        <iframe  width="90%" height="515"
                 src="https://www.youtube.com/embed/3NMnLxouDAM">
        </iframe>
    </div>

    <br/>
    <br/>

    <div class="ui container center aligned">
        <iframe width="90%" height="515"
                src="https://www.youtube.com/embed/FZq8MewDOw8">
        </iframe>
    </div>

    <br/>
    <br/>

    <div class="ui container center aligned">
        <iframe width="90%" height="515"
                src="https://www.youtube.com/embed/R38qUK1Wp6A">
        </iframe>
    </div>

    <br/>
    <br/>

    <div class="ui container center aligned">
        <iframe width="90%" height="515"
                src="https://www.youtube.com/embed/f1A7DO_3I1k">
        </iframe>
    </div>
 

</div>
        <div  id ="footerContainer" class=container-fluid style="background-color:#000000;">
        <footer class="container-fluid text-center">

          
          <p style = "text-align: center; margin-top: 25px; font-size: 2em; color:white;" >DAGOBAH Made By 
          <a href="#" title="Visit agits home page">www.agits.com</a></p>
        </footer>
        </div>

{{end}}